:host {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    margin: var(--distance-extra-small) 0 0 0;
    color: color-mix(in srgb, var(--color-secondary) 75%, var(--color-white));
}

.button {
    color: color-mix(in srgb, var(--text-color-default) 75%, var(--color-white));
    background-color: color-mix(in srgb, var(--color-secondary) 90%, var(--color-white));
    border: none;
    font-size: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 12.8rem;
    padding: var(--distance-extra-small) 0;
    color: color-mix(in srgb, var(--text-color-default) 75%, var(--color-white));
    cursor: pointer;

    &:disabled {
        cursor: wait;
    }

    &:disabled,
    &:hover {
        color: var(--color-white);
        background-color: var(--color-sucess);
    }
}

.info-item {
    margin: 0 var(--distance-extra-small);
}

.status {
    display: flex;
}

.error {
    color: var(--color-error);
}